@tailwind base;
@tailwind components;
@tailwind utilities;

@import "nprogress/nprogress.css";
@import "react-modern-drawer/dist/index.css";
@import "react-toastify/dist/ReactToastify.min.css";
@import "./icons.css";

#__next {
    min-height: 100vh;
    @apply text-main;
}

#nprogress .bar {
    background: #ffc800;
}

/* Fancy blur effect */
#nprogress .peg {
    box-shadow: 0 0 10px #ffc800, 0 0 5px #ffc800;
}

#nprogress .spinner-icon {
    border-top-color: #ffc800;
    border-left-color: #ffc800;
}

:root {
    --toastify-color-info: #ffc800;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

.Toastify__toast-theme--dark {
    background: rgb(30, 35, 53, 0.5);
    border-radius: 10px;
    height: fit-content;
}

.Toastify__close-button {
    display: none;
}

.Toastify__toast-container--bottom-center,
.Toastify__toast-container--bottom-left,
.Toastify__toast-container--bottom-right {
    max-width: 80%;
    width: fit-content;
}

@media only screen and (max-width: 480px) {
    .Toastify__toast-container--bottom-center,
    .Toastify__toast-container--bottom-left,
    .Toastify__toast-container--bottom-right {
        bottom: 35px;
        transform: translateX(30%);
    }
}
@media only screen and (max-width: 440px) {
    .Toastify__toast-container--bottom-center,
    .Toastify__toast-container--bottom-left,
    .Toastify__toast-container--bottom-right {
        bottom: 35px;
        transform: translateX(20%);
    }
}

@media only screen and (max-width: 380px) {
    .Toastify__toast-container--bottom-center,
    .Toastify__toast-container--bottom-left,
    .Toastify__toast-container--bottom-right {
        bottom: 35px;
        transform: translateX(15%);
    }
}

.Toastify__toast-body {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: fit-content;
}

.Toastify__toast {
    height: fit-content;
    min-height: 38px;
}

.drag-indicator {
    height: 5px;
    width: 40px;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
    margin-bottom: 35px;
}

img {
    object-fit: cover !important;
}

/* React swiper styles */
.swiper-pagination {
    @apply relative flex gap-x-1.25 items-center justify-center !important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    @apply bottom-0 !important;
}
.swiper-pagination-bullet {
    @apply w-1.5 h-1.5 m-0 rounded-[3px] bg-gray !important;
}
.swiper-pagination-bullet-active{
    @apply rounded-[2.5px] bg-[#FFD500] w-[15px] h-[5px] !important;
}
#gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; 
    border: 2px solid transparent; 
    background: linear-gradient(to right , #FFBE78, #FF7A1F) border-box; /*3*/
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; 
            mask-composite: exclude; 
}
